<h1>Event Planner</h1>
<p>Welcome, <%= @user.name %>!</p>
<p>Email: <%= @user.email %></p>

<%= link_to "Events", events_path, class: "btn btn-primary" %>
<%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-secondary" %>

<footer>© 2024 Event Planner App</footer>